%h1 Listing polls
- if @polls
  %table
    %thead
      %tr
        %th Title
    %tbody
      - @polls.each do |poll|
        %tr
          %td= poll.title
          %td= link_to 'Show', poll
          %td= link_to 'Edit', edit_poll_path(poll)
          %td= link_to 'Destroy', poll, method: :delete

  = link_to 'New poll', new_poll_path
